:root {
  --primary-color: rgb(18, 18, 18);
  --secondary-color: #308790;
  --text-color1: #c5ffee;
  --text-color2: #ee8726;
  --link-color1: #9a9a9a;
  --link-color2: #b6d442;
  --font-family: Arial, sans-sarif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

.logo {
  margin-right: 0;
  margin-top: 10px;
  max-width: 200px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--link-color2);
  font-size: 1.25rem;
  padding-left: 30px;
  padding-right: 30px;
}

a:hover {
  color: var(--link-color1);
}

p {
  font-size: 1.5rem;
  color: var(--text-color1);
}

.top {
  position: relative;
  background-color: var(--primary-color);
}

.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  box-shadow: 0.1rem 0.1rem 0.2rem;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary-color);
}

.nav-links {
  background-color: var(--primary-color);
  padding-top: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  background-color: var(--primary-color);
}

li {
  list-style: none;
  color: var(--primary-color);
  background-color: var(--primary-color);
}

main {
  margin-top: 30px;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#product-video {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
